# Core
numpy==1.26.4
pandas==2.2.2

# Data Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.0
xgboost==2.0.3

# Web / APIs
requests==2.31.0
flask==3.0.3

# Jupyter Notebook (optional for dev)
notebook==7.1.2
ipython==8.24.0
